@import url(./helper.css);



@media (min-width: 1440px) {

  .container {
    max-width: 1180px;
  }
}

@media screen and (max-width: 1440px) {
  
}

@media screen and (max-width: 990px) {
  .footer_3_list{
    flex-direction: column;
    align-items: center;
  }
  .footer_3{
    align-items: center;
    flex-direction: column;
  }
  .socials_ul {
    justify-content: center;
    margin-top: 30px;
  }
  .pay_ul {
    justify-content: center;
  }
  .footer_2 {
    padding: 32px 0;
    flex-direction: column;
    justify-content: center!important;
}
  .ques_cont{
    width: 100%;
    margin-top: 20px;
  }
  .mob_footer_el{
    flex-direction: column;
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation .5s infinite linear;
}


html {
  scroll-behavior: smooth;
}

html body {
  background: #FFFFFF;
  color: #2E2E2E;
  font-family: 'Inter';
  font-style: normal;
  /* height: 2000px; */
  /* overflow-x: hidden; */
}
footer .logo_container{
  display: flex;
  flex-direction: column;
}
.footer_1_back{
  background: #F5F5F5;
  padding: 40px 0 0 0;
}
.logo_container img{
  width: 100px;
  margin-bottom: 20px;
}

.pay_ul li {
  width: 48px;
  margin-right: 32px;
}
.footer_2_back{
  background: #EBEBEB;
  padding: 24px 0;
}
.comp{
  color: #949494;
}
.made_in{
  color: #949494;
}
.footer_3_list li{
  margin-right: 20px;
}
.footer_3{
  justify-content: space-between;
}
.footer_2{
  padding: 32px 0;
  border-top: 1px solid #EBEBEB;
  justify-content: space-between;

}
.footer_social_item{
  background: #FFFFFF;
  border-radius: 10px;
  padding: 13px 10px;
  width: 40px;
  height: 40px;
}
.pay_ul li img{
  width: 100%;
}
.green_btn_footer{
  font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #12B370;
padding: 12px 24px;
background: #D8F5E9;
border-radius: 10px;
text-align: center;
}
.FAQ_item_collapse{
  padding: 16px 18px;
}
.arrow_rotate{
  transform: rotate(180deg);
  transition: .3s;
}
.accordion-item-my{
  background: #FFFFFF;
border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(54 65 61 / 12%);

}
.accordion-link-my{
  background: #FFFFFF;
    /* box-shadow: 0px 0px 20px rgb(54 65 61 / 12%); */
    border-radius: 10px;
    padding: 12px 16px;
}
.footer_ul{
  max-width: 140px;
  margin-right: 32px;
}
.footer_ul li{
  margin-bottom: 20px;
}
.footer_ul .h{
  color: #949494;
}
.footer_ul:last-child{
  margin-right: 0;
}
.my_fade {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.color_grey {
  color: #949494;
}

.card_buy_btn {
  width: 48px;
  height: 48px;
  background: #12B370;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.my_fade_open {
  opacity: 1 !important;
  visibility: visible !important;
  transition: .3s;
}

.my_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none !important;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none !important;
  transition: .3s;
  opacity: 0 !important;
}

.white_btn {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 8px 20px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2E2E2E;
  user-select: none;
}

.my_btn {
  border-radius: 10px;
  background-color: #12B270;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
}

.fixed {
  position: fixed;
  margin: auto;
  display: flex;
  top: 0;
  justify-content: center;
  width: 100%;
  z-index: 2;
  padding-bottom: 24px;
  box-shadow: 0px 10px 16px rgb(77 76 74 / 6%);
  background: white;
}


/* /////////HEADER */
.logo {
  margin-right: 55px;
}

header .first_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .first_panel .first_list {
  display: flex;
  align-items: center;
}

header .first_panel .first_list .first_list_li {
  margin-right: 32px;
}

header .first_panel .first_list .first_list_li:last-child {
  margin-right: 0px;
}

header .first_panel .second_list {
  display: flex;
  align-items: center;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: red;
}

.city_select_container {
  position: relative;
}

.city_select {
  width: 83px;
  display: flex;
  align-items: center;
}

.city_select svg {
  margin-left: 8px;
}

.city_select_options {
  position: absolute;
  bottom: -60px;
  height: 56px;
  transition: .3s;
  width: 83px;
  background-color: white;
}

.city_select_options .option {
  cursor: pointer;
}

.w_70_container {
  width: 70%;
  display: flex;
}

.second_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_catalog_header {
  width: 24.5%;
}

.second_panel input {
  width: 70.5%;
  position: relative;
  z-index: 40;
}

.second_panel_list {
  display: flex;
}

.second_panel_list li {
  display: flex;
  align-items: center;
  margin-right: 23px;
}

.second_panel_list li:last-child {
  margin-right: 0px;
}

.second_panel_list li svg {
  margin-right: 11px;
}

.favorites_container {
  height: 20px;
}

.header_input {
  padding: 12px 16px;
  background: #F5F5F5;
  border-radius: 10px;
  outline: none;
  border: none;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: right 16px bottom 50%;
}

.header_input::placeholder {
  color: #949494
}

.header_catalog {
  background-color: pink;
  color: black;
  position: absolute;
  left: 0;
  padding: 38px 32px;
  width: 64%;
  display: flex;
  width: 960px;
  height: 540px;
}

.header_catalog .first_column {
  width: 30%;
}

.header_catalog .second_column {
  width: 70%;
}

.second_column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.second_column div {
  height: 20px;
}

/* /////////HEADER */



/* //best_for_spa_slider///////////////////////////////////////////// */
.best_for_spa_slider {
  padding-top: 208px;
  position: relative;
}

.best_for_spa_slider .card {
  position: relative;
  padding: 56px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  margin: auto 10px;
  /* margin-right: 20px; */
}

.best_for_spa_slider .card div {
  position: relative;
  z-index: 1;
}

.best_for_spa_slider .card img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.best_for_spa_slider .card .h {
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
}

.best_for_spa_slider .card .p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  width: 35%;


}

@media (max-width: 768px) {
  .best_for_spa_slider .card .p {
    width: 65%;

  }

  .best_for_spa_slider .card .h {}

}

.best_for_spa_slider .card .span {
  font-size: 12px;
  line-height: 16px;
}

.slick-dots .slick-active {
  background-color: #12B370 !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
}

.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  background: #D8F5E9;
  border-radius: 50%;
}

.slider-partners-prev {
  position: absolute;
  top: 64%;
  left: -1%;
  z-index: 1;
}

.slider-partners-next {
  position: absolute;
  top: 64%;
  right: -1%;
  z-index: 1;
}

.slider-toggle {
  cursor: pointer;
  user-select: none;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(29, 31, 30, 0.06);
  border-radius: 40px;
}





/* //cat_cards_container///////////////////////////////////////////////////////// */
.cat_cards_container {
  padding-top: 72px;
}

.cat_cards_container>ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  overflow-x: scroll;
  padding: 0 !important;
}

.cat_cards_container ul::-webkit-scrollbar {
  display: none;
}

.cat_cards_container ul li {
  padding: 20px;
  background: #F5F5F5;
  border-radius: 10px;

}

.cat_cards_container ul li img {
  width: 100px;
  height: 72px;
}

.advantages {
  padding-top: 68px;
}

.advantages ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 20px;
  padding-top: 32px;
}

.advantages ul li {
  background-color: transparent;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .advantages ul {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, 1fr);
  }

  .advantages ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .advantages ul li div {
    text-align: left;
  }

  .catalog-cards-cont li {
    width: calc(50vw - 52px);
  }
}




/* //popular_items///////////////////////////////////////////////////////// */

.popular_items {
  padding-top: 68px;
}

.popular_items_slider li {
  /* margin: auto 10px; */
  margin: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 27px rgba(29, 31, 30, 0.05);
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.popular_items_slider li:last-child {
  width: 200px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.popular_items_slider li:last-child:hover {
  background: #eeeeee;
}

.like {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 1;
}

.like_active {
  fill: #FF4A40;
}

.cat_labels {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.cat_labels .item {
  padding: 4px 8px;
  text-align: center;
  width: fit-content;
  border-radius: 6px;
  color: white;
  margin-bottom: 8px;
}

.cat_labels .blue {
  background-color: #459BE8;
  border-left: 3px solid #0079E4;
}

.cat_labels .orange {
  background-color: #FF8A00;
  border-left: 3px solid #E07900;
}

.popular_items_img {
  margin: auto;
  position: absolute;
  width: 100%;
  left: -7px;
  height: 262px;
  width: 280px;
}

.popular_items_slider .slick-track {
  display: flex;
}

.slick-slide.slides {
  height: auto;
  flex: 0 0 auto;
}

.popular_items_img {
  width: 100%;
  transition: .3s;
  margin: auto;
  z-index: 0;
}

.popular_items_img:hover {
  transform: scale(1.2);
}

.card_margin {
  margin-top: 100%;
}






/* souvenirs_container//////////////////////////////// */

.souvenirs_container {
  padding-top: 68px;
}

.souvenirs {
  background-color: #A7D7CD;
  background-image: url('../images/sheets.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.souvenirs .h {

  font-weight: 700;
  font-size: 44px;
  line-height: 44px;

}

.souvenirs div {
  position: relative;
  z-index: 2;
}

.souvenirs img {
  position: absolute;
  width: 272px;
  height: 160px;
  right: 22%;
  filter: drop-shadow(-7px 0px 76px rgba(27, 40, 38, 0.36));
}



@media (max-width: 768px) {
  .souvenirs {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 40px 127px 40px;
  }

  .souvenirs .h {
    font-size: 28px;
    line-height: 32px;
  }

  .souvenirs .p {
    font-size: 14px;
    line-height: 20px;
  }

  .souvenirs .white_btn {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
  }

  .souvenirs img {
    width: 194px;
    height: 115px;
    bottom: 0;
    right: calc(50% - 97px)
  }
}



/* hits/////////////////////////////////////// */

.hits {
  padding-top: 68px;
}

.hits ul.hits_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.hits ul.hits_container li {
  padding: 40px;
  border-radius: 12px;
  color: white;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 41%;
}

.hits ul.hits_slider li.hit {
  padding: 40px;
  border-radius: 12px;
  color: white;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 41%;
}

.hits ul.hits_slider li.dacha {
  padding: 40px;
  border-radius: 12px;
  color: white;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 41%;

}

.hits .dacha {
  background-color: #56A7CA;
  background-image: url('../images/hits_2.png');
}

.hits .hit {
  background-color: #CA7956;
  background-image: url('../images/hits_1.png');
}

.hits ul .p {
  width: 61%;
}

.hits_slider {
  display: none;
}

@media (max-width: 768px) {
  .hits ul.hits_container {
    display: none;
  }

  .hits_slider {
    display: block !important;
  }
}



/* articles_container////////////////////////////// */
.articles_container {
  padding-top: 68px;
}

.articles_container ul {
  min-width: 526px;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.articles_container ul::-webkit-scrollbar {
  display: none;
}

.articles_container .all_aticles:hover {
  transition: .3s;
  color: #14CC7F;
}

.articles_container ul li img {
  border-radius: 10px;
  margin-bottom: 20px;
  transition: .3s;
  border-radius: 10px;
}

.articles_container ul li {
  min-width: 210px;
  overflow: hidden;
  position: relative;
}

.articles_container .item {
  padding: 4px 8px;
  text-align: center;
  width: fit-content;
  border-radius: 6px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.articles_container ul li:hover img {
  transform: scale(1.1);
}




.FAQ_container {
  padding-top: 68px;
}

.FAQ_slider li {
  border: 2px solid #12B370;
  border-radius: 10px;
  background-color: white;
  padding: 4px;
  margin: auto 10px;
  font-size: 20px;
  cursor: pointer;
}

/* .FAQ_slider li:nth-child(1) {
  margin-left: 0;
} */


.FAQ_slider .grey_content {
  background: #F5F5F5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 230px;
  padding: 20px;

}

@media (max-width: 768px) {
  .FAQ_slider li {
    font-size: 16px;
    margin: auto 6px;
  }

  .FAQ_slider .grey_content svg {
    height: 30px;
    width: 30px;

  }

  .FAQ_slider .grey_content {
    padding: 12px 8px 8px 8px;

  }
}

.agregator_container {
  padding-top: 68px;
}

.agregator_block {
  /* background-image: url('../images/bg_agregator.svg'); */
  /* background-repeat: no-repeat; */
  /* background-size: 100%; */
  background-color: #12B270;
  border-radius: 0px 0px 10px 10px;
  padding: 0 40px 40px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* margin-bottom: 30px; */
}

.chimney {
  position: absolute;
  top: -100px;
  right: 60px;
  width: 69px;
}

.agregator-cap {
  width: 100%;
}

.text-block-aggr {
  width: 66.6667%
}


/* .agregator_block img {
  width: 263px;
} */

.bath-img {
  position: absolute;
  bottom: 12px;
  right: 74px;

  width: 263px;
}

.text-block-aggr .h {
  font-size: 32px;
}

.text-block-aggr .p {
  font-size: 16px;
}

.agregator_block .first_column {
  width: 68%;
}

@media (max-width: 768px) {
  .agregator_container {
    padding-top: 98px;
  }

  .agregator_block {
    flex-direction: column-reverse;
    align-items: center;
  }

  .bath-img {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .text-block-aggr {
    width: 100%;
  }

  .text-block-aggr .h {
    font-size: 20px;
    line-height: 28px;
    margin-top: 16px;
  }

  .text-block-aggr .p {
    font-size: 14px;
    line-height: 20px;
  }

  .chimney {
    top: -80px;
    right: 40px;
  }
}


.email-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.email-form-container {
  margin-top: 68px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 24px;
  background: #F5F5F5;
  border-radius: 10px;

}

.email-form-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #2E2E2E;
}

.email-form-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2E2E2E;
}

.email-form-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.email-form-field {
  flex-grow: 1;
  border: none;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 14px 16px;
}

.email-form-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}

.email-form-field:focus {
  border: none;
  outline: none;
}

.email-form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  background: #12B370;
  color: white;
  border-radius: 10px;
  transition: .2s;
}

.email-form-button:hover {
  background: #14CC7F;
}

.email-form-hint {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #2E2E2E;

}

.email-form-link {
  color: #459BE8;
  transition: .2s;
}

.email-form-link:hover {
  color: #01BAEF;
}


@media (max-width: 768px) {
  .cat_cards_container>ul>li {
    flex-direction: column;
    text-align: center;
  }

  .catalog_cards_container ul li {
    flex-direction: column;
    text-align: center;
  }

  .email-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0px;
    gap: 8px;
  }

  .email-form-container {
    margin-top: 40px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    gap: 16px;
    background: #F5F5F5;
    border-radius: 10px;

  }

  .email-form-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #2E2E2E;
  }

  .email-form-subtitle {
    width: 75%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #2E2E2E;
  }

  .email-form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }

  .email-form-text-block {
    width: 100%;
  }

  .email-form-field {
    width: 100%;
    flex-grow: 1;
    border: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 14px 16px;
  }

  .email-form-field::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #949494;
  }

  .email-form-field:focus {
    border: none;
    outline: none;
  }

  .email-form-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    background: #12B370;
    color: white;
    border-radius: 10px;
    transition: .2s;
  }

  .email-form-button:hover {
    background: #14CC7F;
  }

  .email-form-hint {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    color: #2E2E2E;

  }

  .email-form-link {
    color: #12B270;
    transition: .2s;
  }

  .email-form-link:hover {
    color: #14CC7F;
  }
}